<a (click)="leave()">Quitter la room</a>

<div>
  <div class="room-title">
    <ng-container *ngIf="iAmTheOwner">
      <input (blur)="onRoomNameBlur()" [(ngModel)]="roomName" type="text" placeholder="Room name" minlength="3" maxlength="32" />
    </ng-container>
    <ng-container *ngIf="!iAmTheOwner">
      <h1>{{ roomName }}</h1>
      <span>owned by {{ ownerName }}</span>
    </ng-container>
  </div>
</div>

<h1 *ngIf="isStatusSelectingCards">Vous devez retourner 2 cartes!</h1>

<h1 *ngIf="isStatusTurnInProgress">
  Au tour de {{ currentTurnPlayerName }} ({{ currentTurnRemainingTime }}s)
</h1>

<h1 *ngIf="isStatusWaitingForPlayers">
  En attente des joueurs
  <ng-container *ngIf="countdownBeforeStart">
    , démarrage dans {{countdownBeforeStart}}s
  </ng-container>
</h1>

<span>Les autres joueurs:</span>
<div class="other-members">
  <div *ngFor="let member of roomMembersWithoutMe">
    <span>{{ member.playerDisplayName }}</span>
    <span>{{ getMemberScore(member) }}</span>
    <skyjo-board [cards]="member.board" />
  </div>
</div>
<span>La pioche:</span>
<div class="deck">
  <span [class.click-disabled]="!iCanPickTopDeckCard"
        [class.click-enabled]="iCanPickTopDeckCard"
        class="card"
        (click)="onTopDeckCardClicked()">
    {{ topDeckCard }}
  </span>

  <span [class.click-disabled]="!iCanPickDiscardedCard"
        [class.click-enabled]="iCanPickDiscardedCard"
        class="card"
        (click)="onDiscardedCardClicked()">
    {{ lastDiscardedCard }}
  </span>
</div>
<span>Mon jeu:</span>
<div class="me">
  <skyjo-board [clickableCards]="pickableCardsForMe" (onCardClicked)="onMyCardClicked($event)" [cards]="myCards" />
</div>
