:host {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
}

.room-title {
  display: flex;
  align-items: center;
  gap: 1em;

  & h1 {
    margin: 0;
  }
}

.other-members {
  display: flex;
  gap: 1em;
  justify-content: center;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.deck {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
}
