:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
}

.card {
  border: 1px solid black;
  padding: .2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &.click-disabled {
    cursor: not-allowed;
  }

  &.click-enabled {
    cursor: pointer;
  }

  &.deleted {
    cursor: none;
    border: 0;
    padding: 0;
  }
}
