:host {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(3, min-content);
}

.card {
  width: 2rem;

  border: 1px solid black;
  margin: .5em;
  padding: .2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &.click-disabled {
    cursor: not-allowed;
  }

  &.click-enabled {
    cursor: pointer;
  }

  &.deleted {
    cursor: none;
    border: 0;
    padding: 0;
    margin: 0;
    width: 0;
  }
}
