<div>
  <div class="room-title">
    <ng-container *ngIf="iAmTheOwner">
      <input (blur)="onRoomNameBlur()" [(ngModel)]="roomName" type="text" placeholder="Room name" minlength="3" maxlength="32" />
    </ng-container>
    <ng-container *ngIf="!iAmTheOwner">
      <h1>{{ roomName }}</h1>
      <span>owned by {{ ownerName }}</span>
    </ng-container>
  </div>
</div>
<span>Les autres joueurs:</span>
<div class="other-members">
  <div *ngFor="let member of otherMembers">
    <span>{{ member.playerDisplayName }}</span>
    <skyjo-board clickAction="none" [cards]="member.board" />
  </div>
</div>
<span>La pioche:</span>
<div class="deck">
  <span [class.click-disabled]="!iCanPickTopDeckCard" [class.click-enabled]="iCanPickTopDeckCard">{{ topDeckCard }}</span>
  <span [class.click-disabled]="!iCanPickDiscardedCard" [class.click-enabled]="iCanPickDiscardedCard">{{ lastDiscardedCardValue }}</span>
</div>
<span>Mon jeu:</span>
<div class="me">
  <skyjo-board [clickAction]="iCanPickMyCards ? 'allowed' : 'disallowed'" (onCardClicked)="onCardClicked($event)" [cards]="myCards" />
</div>
